<div class="content">
  <table>
    <thead>
      <th width="160">Id</th>
      <th width="160">Start</th>
      <th width="160">End</th>
      <th width="160">Customer</th>
      <th width="160">Description</th>
      <th width="160">Person</th>
    </thead>
    <tbody>
      <tr *ngFor="let w of workloads">
        <td>{{ w.workloadId }}</td>
        <td>{{ w.start }}</td>
        <td>{{ w.stop }}</td>
        <td>{{ w.assignment?.customerName }}</td>
        <td>{{ w.assignment?.description }}</td>
        <td>{{ w.person?.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
