<!-- <div class="content">
  <table>
    <thead>
      <th width="160">project</th>
      <th width="120">semVer</th>
      <th width="120">semRel</th>
    </thead>
    <tbody>
      <tr *ngFor="let v of versions">
        <td>{{ v.projectFile }}</td>
        <td>{{ v.buildVersion?.semanticVersion }}</td>
        <td>{{ v.buildVersion?.semanticRelease }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
<!--https://v5.material.angular.io/components/table/overviewk-->
<mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
  <ng-container matColumnDef="projectFile">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">projectFile</mat-header-cell>
      <mat-cell *matCellDef="let version">{{version.projectFile}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="semanticVersion">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">semanticVersion</mat-header-cell>
      <!-- <mat-cell *matCellDef="let version">{{version.buildVersion!.semanticVersion}}</mat-cell> -->
      <mat-cell *matCellDef="let version">{{version.semanticVersion}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="semanticRelease">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">semanticRelease</mat-header-cell>
      <!-- <mat-cell *matCellDef="let version">{{version.buildVersion!.semanticRelease}}</mat-cell> -->
      <mat-cell *matCellDef="let version">{{version.semanticRelease}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
